{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Member page {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/member_home.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="{% static 'js/request.js' %}"></script>
       
</head>
<body>
<div class="sidenav">
	<a href="{% url 'member:complaint' %}">Complaint</a>
	<a href="{% url 'member:request' %}">Request</a>
	<a href="{% url 'member:cheque_details' %}">Cheque Details</a>


</div>
<div id="content" name="content" class ="main">
	{% block content %}
	{% endblock %}
</div>
</body>
</html>