{%extends 'member/index.html' %}
{% block title %} leave and license  {% endblock %}
{% load static %}
{% block content %}
	<head>
	<title>Contact V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'form/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'form/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'form/css/main.css' %}">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/request_table_style.css' %}">
</head>

<body>	
	<br>
	<br>

	<div class="wrap-contact100" style="margin-left: 20%;" >
			<div class="contact100-form-title" style="background-image: url({% static 'form/images/bg-01.jpg' %});">
				<span class="contact100-form-title-1">
					Leave & License
				</span>

				<span class="contact100-form-title-2">
					Enter the details Below!
				</span>
			</div>
	<form  method="post" class="contact100-form " enctype="multipart/form-data" >
		{% csrf_token %}
				<div class="wrap-drop100 ">
					{% if form.wing.errors %}
						<ul class="errorlist">
    						<li style="font-size: 10px;color: red;font-style: italic;">Wing is required.</li>
						</ul>
					{% endif %}

					<span class="label-input100">Wing:</span>
					<select name="wing"  class="drop100" >
					<option value="" disabled selected>Wing</option>	
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
				</select>
				</div>

				<div class="wrap-drop100 ">
					{% if form.flat.errors %}
						<ul class="errorlist">
    						<li style="font-size: 10px;color: red;font-style: italic;">Flat no. is required.</li>
						</ul>
					{% endif %}

					<span class="label-input100">Flat no:</span>
					<select name="flat" maxlength="3" id="id_flat" class="drop100" >
					<option value="" disabled selected>Flat No</option>	
					<option value="101">101</option>
					<option value="102">102</option>
					<option value="103">103</option>
					<option value="104">104</option>
					<option value="201">201</option>
					<option value="202">202</option>
					<option value="203">203</option>
					<option value="204">204</option>
					<option value="301">301</option>
					<option value="302">302</option>
					<option value="303">303</option>
					<option value="304">304</option>
					<option value="401">401</option>
					<option value="402">402</option>
					<option value="403">403</option>
					<option value="404">404</option>
					<option value="501">501</option>
					<option value="502">502</option>
					<option value="503">503</option>
					<option value="504">504</option>
					<option value="601">601</option>
					<option value="602">602</option>
					<option value="603">603</option>
					<option value="604">604</option>
					<option value="701">701</option>
					<option value="702">702</option>
					<option value="703">703</option>
					<option value="704">704</option>
					<option value="801">801</option>
					<option value="802">802</option>
					<option value="803">803</option>
					<option value="804">804</option>
					<option value="901">901</option>
					<option value="902">902</option>
					<option value="903">903</option>
					<option value="904">904</option>

					</select>
				</div>

				<div class="wrap-drop100 ">

					{% if form.from_date.errors %}
						<ul class="errorlist">
    						<li style="font-size: 10px;color: red;font-style: italic;">From date is required.</li>
						</ul>
					{% endif %}

					<span class="label-input100">From Date:</span>
					{{form.from_date}}
				</div>

				<div class="wrap-drop100 ">

					{% if form.to_date.errors %}
						<ul class="errorlist">
    						<li style="font-size: 10px;color: red;font-style: italic;">To date is required.</li>
						</ul>
					{% endif %}

					<span class="label-input100">To Date:</span>
					{{form.to_date}}
				</div>

				<div class="wrap-drop100 ">

					{% if form.agreement.errors %}
						<ul class="errorlist">
    						<li style="font-size: 10px;color: red;font-style: italic;">This field is required.</li>
						</ul>
					{% endif %}

					<span class="label-input100">Agreement Docs:</span>
					{{form.agreement}}
				</div>
				
				<div class="wrap-drop100 ">

					{% if form.police_ver.errors %}
						<ul class="errorlist">
    						<li style="font-size: 10px;color: red;font-style: italic;">This Field is required.</li>
						</ul>
					{% endif %}

					<span class="label-input100">Police Verification Docs:</span>
					{{form.police_ver}}
				</div>


				<div class="container-contact100-form-btn">
				<input type="submit" class="contact100-form-btn" value="Submit"/>
				</div>
		
	</form> 
	</div>
		

<br>
<hr class="style-two">
<br>
	<h1 align="center">Previous requests</h1>


<!--<table>
<tr>
	<th>Date of request</th>
	<th>Flat No</th>
	<th>Start Date</th>
	<th>End Date</th>
	<th>Agreement</th>
	<th>Police Verification Document</th>
</tr>
	{% for l in lls %}
<tr>
	<td>{{ l.landl_date }}</td>
	<td>{{ l.flatno }}</td>
	<td>{{ l.from_date }}</td>
	<td>{{ l.to_date }}</td>
	<td><a href="{{l.agreement.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
	<td><a href="{{l.police_ver.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
</tr>
	{% endfor %}

</table>-->
{% for l in lls %}

	<div class="tablerow" id="contain" style="margin-left: 10%">
	
		<div class ="flatcolumn pull-left" id="left">
			<div class=" flatno" ><span class="step">{{ l.flatno }}</span></div>
		</div>

		<div class="details" id="center">
				<p class="destitle">You have made request for <b><font color=#18d26e>Leave And License</font></b> </p>
			<ul style="list-style-type:none">
				<li><b>Start Date:</b>{{ l.from_date }}</li>
				<li><b>End Date:</b>{{ l.to_date }}</li>
				<li><b>Agreement Document</b><br><button  class ="downloadbtn" onclick="window.location.href = '{{l.agreement.url}}';"><i class="fa fa-download"></i>Download</button></li>
				<li><b>Police Verification Document</b><br><button  class ="downloadbtn" onclick="window.location.href = '{{l.police_ver.url}}';"><i class="fa fa-download"></i>Download</button></li>

			</ul>

		</div>
	
		<div class="date" id="right">
			<p class="text">Date of Issue</p>
			<i class="fa fa-calendar" aria-hidden="true"></i>
			<p>{{ l.landl_date }}</p>
			
		</div>
		

	</div>
{% endfor %}

</body>
{% endblock %}
