{%extends 'member/index.html' %}
{% block title %} complaint {% endblock %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 
<script src="{% static 'js/request.js' %}"></script>
 <link rel="stylesheet" href="{% static 'css/request_statusbar.css' %}">

 
<body >


	<h1>Request</h1>

	<div class="container">
		<form  method="post" enctype="multipart/form-data">
			
			{% csrf_token %}

			Flat No:{{form.wing}}{{form.flat}}<br>

			Choose Request :{{form.request_type}}<br>

			<div id='status' style="display: none;">

				created:{{form.created}}
				inprogress:{{form.inprogress}}
				completed:{{form.completed}}
				
			</div>

			<div id='addressproof'>
			Name to be Addressed:{{form.name_to_be_addressed}}<br></div>

			<div id='sales'>
			new_members_names:{{form.new_members_names}}<br>
			sales_details:{{form.sales_details}}<br>
			Upload Bank Format:{{form.bank_format}}
			<br>
			</div>

			<div id='cctv'>
			cctv_time_from:{{form.cctv_time_from}}&nbsp;&nbsp;cctv_time_to:{{form.cctv_time_to}}<br>
			</div>

			request:{{form.request}}<br>

			<input type="submit" class="btn btn-primary" value="Submit">
				
		</form>	
</div>
<h1>Your Requests</h1>

<table>
	<tr>
		<th>Date Of Issue</th>
		<th>Flat No</th>
		<th>Request Made</th>
		<th>Status</th>
		
	</tr>
	{% for r in table %}
	<tr>
		<td>{{r.request_date }}</td>
		<td>{{r.flatno}}</td>
		{% if r.request_type == 'SalesAgreement'%}
		<td>
			<p>You have made request for <b>Sales Agreement</b> </p>
			<ul>
				<li><b>New Member Names:</b>{{r.new_members_names}}</li>
				<li><b>Details:</b>{{r.sales_details}}</li>
				<li><b>Format:</b>{{r.bank_format}}</li>
				<li><b>Remarks:</b>{{r.request}}</li>
			</ul>
		</td>

		{% elif r.request_type == 'AddressProof' %}
		<td>
			<p>You have made request for <b>Address Proof</b> </p>
			<ul>
				<li><b>Name to be Addressed:</b>{{r.name_to_be_addressed }}</li>
				<li><b>Remarks:</b>{{r.request}}</li>
			</ul>
		</td>
		{% elif r.request_type == 'CCTV' %}
		<td>
			<p>You have made request to view <b>CCTV Footage</b> </p>
			<ul>
				<li><b>From:</b>{{r.cctv_time_from }}</li>
				<li><b>To:</b>{{r.cctv_time_to }}</li>
				<li><b>Remarks:</b>{{r.request}}</li>
			</ul>
		</td>
		{% elif r.request_type == 'NOC' %}
		<td>
			<p>You have made request for <b>NOC</b> </p>
			<ul>
				<li><b>Details:</b>{{r.request}}</li>
			</ul>
		</td>
		{% else %}
		<td>
			<p><b>Your request:</b>{{r.request}} </p>	
		</td>
		{% endif %}
		<td>
			{% if r.completed %}
			<div class="container1">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li class="active">In Progress</li>
          			<li class="active">Completed</li>
          			
 				 </ul>
    		</div> 
    		
    		{% elif r.inprogress %}
			<div class="container1">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li class="active">In Progress</li>
          			<li>Completed</li>
          			
 				 </ul>
    		</div> 
    		
			{% else  %}
			<div class="container1">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li>In Progress</li>
          			<li>Completed</li>
          			
 				 </ul>
    		</div> 
    		{% endif %}
		</td>

	</tr>

	{% endfor %}

</table>



</body>

{% endblock %}