{%extends 'member/index.html' %}
{% block title %} complaint {% endblock %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 
<script src="{% static 'js/request.js' %}"></script>
 
<body >


	<h1>Request</h1>

	<div class="container">
		<form  method="post" enctype="multipart/form-data">
			
			{% csrf_token %}

			Flat No:{{form.wing}}{{form.flat}}<br>

			Choose Request :{{form.request_type}}<br>

			<div id='status' style="display: none;">

				created:{{form.created}}
				inprogress:{{form.inprogress}}
				completed:{{form.completed}}
				
			</div>

			<div id='addressproof'>
			Name to be Addressed:{{form.name_to_be_addressed}}<br></div>

			<div id='sales'>
			new_members_names:{{form.new_members_names}}<br>
			sales_details:{{form.sales_details}}<br>
			Upload Bank Format:{{form.bank_format}}
			<br>
			</div>

			<div id='cctv'>
			cctv_time_from:{{form.cctv_time_from}}&nbsp;&nbsp;cctv_time_to:{{form.cctv_time_to}}<br>
			</div>

			request:{{form.request}}<br>

			<input type="submit" class="btn btn-primary" value="Submit">
				
		</form>	
</div>
<h1>Previous Entries</h1>
	{% render_table table %}



</body>

{% endblock %}