{%extends 'member/index.html' %}
{% block title %} complaint {% endblock %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 
<script src="{% static 'js/request.js' %}"></script>
 <link rel="stylesheet" href="{% static 'css/request_statusbar.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'css/request_table_style.css' %}">
 

 
<body bgcolor="#E8E8E8" >


	<h1>Request</h1>

	<div class="container" style="border: 1px solid black">
		<form  method="post" enctype="multipart/form-data">
			
			{% csrf_token %}

			Flat No:&nbsp;&nbsp;{{form.wing}} &nbsp;&nbsp;{{form.flat}}<br><br>

			Choose Request :&nbsp;&nbsp;{{form.request_type}}<br><br>

			<div id='status' style="display: none;">

				created:{{form.created}}
				inprogress:{{form.inprogress}}
				completed:{{form.completed}}
				
			</div>

			<div id='addressproof'>
			Name to be Addressed:&nbsp;&nbsp;{{form.name_to_be_addressed}}<br><br></div>

			<div id='sales'>
			New Members Names:&nbsp;&nbsp;{{form.new_members_names}}<br><br>
			Sales Details:&nbsp;&nbsp;{{form.sales_details}}<br><br>
			Upload Bank Format:&nbsp;&nbsp;{{form.bank_format}}<br>
			<br>
			</div>

			<div id='cctv'>
			Cctv time from:&nbsp;&nbsp;{{form.cctv_time_from}}&nbsp;&nbsp;&nbsp;Cctv time to:&nbsp;&nbsp;{{form.cctv_time_to}}<br><br>
			</div>

			Request:<br><br>{{form.request}}<br><br>

			<input type="submit" class="downloadbtn" style="font-size: 16px; padding: 10px;width:100px;" value="Submit">
				
		</form>	
</div>

<h1>Your Requests</h1>



<!--<table>
	<tr>
		<th>Date Of Issue</th>
		<th>Flat No</th>
		<th>Request Description</th>
		<th>Status</th>
		
	</tr>
	{% for r in table %}
	<tr>
		<td>{{r.request_date }}</td>
		<td>{{r.flatno}}</td>
		{% if r.request_type == 'SalesAgreement'%}
		<td>
			<p>You have made request for <b>Sales Agreement</b> </p>
			<ul>
				<li><b>New Member Names:</b>{{r.new_members_names}}</li>
				<li><b>Details:</b>{{r.sales_details}}</li>
				<li><b>Format:</b><a href="{{r.bank_format.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></li>
				<li><b>Remarks:</b>{{r.request}}</li>
			</ul>
		</td>

		{% elif r.request_type == 'AddressProof' %}
		<td>
			<p>You have made request for <b>Address Proof</b> </p>
			<ul>
				<li><b>Name to be Addressed:</b>{{r.name_to_be_addressed }}</li>
				<li><b>Remarks:</b>{{r.request}}</li>
			</ul>
		</td>
		{% elif r.request_type == 'CCTV' %}
		<td>
			<p>You have made request to view <b>CCTV Footage</b> </p>
			<ul>
				<li><b>From:</b>{{r.cctv_time_from }}</li>
				<li><b>To:</b>{{r.cctv_time_to }}</li>
				<li><b>Remarks:</b>{{r.request}}</li>
			</ul>
		</td>
		{% elif r.request_type == 'NOC' %}
		<td>
			<p>You have made request for <b>NOC</b> </p>
			<ul>
				<li><b>Details:</b>{{r.request}}</li>
			</ul>
		</td>
		{% else %}
		<td>
			<p><b>Your request:</b>{{r.request}} </p>	
		</td>
		{% endif %}
		<td>
			{% if r.completed %}
			<div class="container1">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li class="active">In Progress</li>
          			<li class="active">Completed</li>
          			
 				 </ul>
    		</div> 
    		
    		{% elif r.inprogress %}
			<div class="container1">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li class="active">In Progress</li>
          			<li>Completed</li>
          			
 				 </ul>
    		</div> 
    		
			{% else  %}
			<div class="container1">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li>In Progress</li>
          			<li>Completed</li>
          			
 				 </ul>
    		</div> 
    		{% endif %}
		</td>

	</tr>

	{% endfor %}

</table>-->


{% for r in table %}

	<div class="tablerow" id="contain" style="background-color: #ffffff;z-index: 1; position: relative;margin-left: 5%;margin-bottom: 15px;">
	
		<div class ="flatcolumn pull-left" id="left">
			<div class=" flatno" ><span class="step">{{r.flatno}}</span></div>
		</div>

		<div class="details" id="center" style="z-index:1; position: relative;">
			<div >
		{% if r.request_type == 'SalesAgreement'%}
			
				<p class="destitle">You have made request for <b><font color=#18d26e>Sales Agreement</font></b> </p>
			<ul style="list-style-type:none">
				<li><b>New Member Names:</b>{{r.new_members_names}}</li>
				<li><b>Details:</b>{{r.sales_details}}</li>
				<li><b>Remarks:</b>{{r.request}}</li>
				<li><b>NOC Format:</b><button  class ="downloadbtn" onclick="window.location.href = '{{r.bank_format.url}}';"><i class="fa fa-download"></i>Download</button></li>

			</ul>
			
			
		{% elif r.request_type == 'AddressProof' %}
		
				<p class="destitle">You have made request for <b>Address Proof</b> </p>
			<ul style="list-style-type:none">
				<li><b>Name to be Addressed:</b>{{r.name_to_be_addressed }}</li>
				<li><b>Remarks:</b>{{r.request}}</li>
			</ul>
				
		

		{% elif r.request_type == 'CCTV' %}
		
				<p class="destitle">You have made request to view <b>CCTV Footage</b> </p>
			<ul style="list-style-type:none">
				<li><b>From:</b>{{r.cctv_time_from }}</li>
				<li><b>To:</b>{{r.cctv_time_to }}</li>
				<li><b>Remarks:</b>{{r.request}}</li>
			</ul>
				
		
		{% elif r.request_type == 'NOC' %}
		
			<p class="destitle">You have made request for <b>NOC</b> </p>
			<ul style="list-style-type:none">
				<li><b>Details:</b>{{r.request}}</li>
			</ul>
				
		
		{% else %}
		
			<p class="destitle"><b>Your request:</b>{{r.request}} </p>
				
		
		{% endif %}
		</div>
		<div >
			{% if r.completed %}
			<div class="container1" style="margin-left: 25%;">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li class="active">In Progress</li>
          			<li class="active">Completed</li>
          			
 				 </ul>
    		</div> 
    		
    		{% elif r.inprogress %}
			<div class="container1" style="margin-left: 25%;">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li class="active">In Progress</li>
          			<li>Completed</li>
          			
 				 </ul>
    		</div> 
    		
			{% else  %}
			<div class="container1" style="margin-left: 25%;">
     			 <ul class="progressbar">
          			<li class="active">Request Sent</li>
          			<li>In Progress</li>
          			<li>Completed</li>
          			
 				 </ul>
    		</div> 
    		{% endif %}
		</div>
	</div>
	
		<div class="date" id="right">
			<p class="text">Date of Issue</p>
			<i class="fa fa-calendar" aria-hidden="true"></i>
			<p>{{r.request_date }}</p>
			
		</div>
		

	</div>



{% endfor %}

</body>

{% endblock %}