<!DOCTYPE html>
	<html>
	<head>
		<title>	admin</title>
		<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style >
  	.btn:active{
  		background-color: green;
  	}
 		.btn:focus{
  		background-color: grey;
  	}
  </style>
	</head>
	<body>
	
	
<div class="container" style="padding-top: 4%;">
<table class="table">
<tr class>
	<th>UserName</th>
	<th>Flat No</th>
	<th>Email</th>
	<th></th>
	<th></th>
</tr>
	{% for m in mem %}
<tr class>
	<td>{{ m.username }}</td>
	<td>{{ m.flatno }}</td>
	<td>{{ m.email }}</td>
	<td><button id="btn" a href="{% url 'commitee:makeadmin' m.username %}" class="btn btn-success" style="border-radius: 25px;">Commitee</button></td>
	<td><button id="btn" a href="{% url 'commitee:makenormal' m.username %}"class="btn btn-success" style="border-radius: 25px;">Normal</button></td>
</tr>
	{% endfor %}

</table>
</div>
</body>
</html>	
	