{% extends 'commitee/c_index.html' %}

{% block content %}

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <div class="jumbotron" style="padding-top:2%">
<form method="post">

{% csrf_token %}
<input type="text" name="srh" placeholder="Enter Flat No.">
<button type="submit" class="btn btn-danger">Search</button>


</form>


{% if messages %}
		{% for k in messages %}
			{{ k }}
		{% endfor %}
	{% endif %}
</div>


<div class="container">
	<table class="table">
	{% if sr %}
		
	<tr class="danger">
		<th>Date Of Issue</th>
		<th>Flat No</th>
		<th>Description</th>
		<th>Complaint Type</th>
		<th>Images</th>

	</tr>
	{% for k in sr %}
	<tr class="success">
		<td>{{k.complaint_date }}</td>
		<td>{{k.flatno}}</td>
		<td>{{k.description}}</td>
		<td>
			{{k.complaint_type }}
		</td>
		<td>
			{% if k.complain_img %}
			<img src="{{ k.complain_img.url }}" alt="No Image" style="width:50px;">
			{% else %}
			<span class="text-muted">No Image</span>
			{% endif %}
		</td>
	{% endfor %}
	{% endif %}
		
	</tr>
		</table>
	
</div>
<hr>

<div class="container">
<h2>Intercom</h2>

<table class="table table-striped">
	<tr>
		<th>Date Of Issue</th>
		<th>Flat No</th>
		<th>Description</th>
		<th>Images</th>

	</tr>
	{% for c in intercom_complaints %}
	<tr>
		<td>{{c.complaint_date }}</td>
		<td>{{c.flatno}}</td>
		<td>{{c.description}}</td>
		<td>
			{% if c.complain_img %}
			<img src="{{ c.complain_img.url }}" alt="No Image" style="width:50px;">
			{% else %}
			<span class="text-muted">No Image</span>
			{% endif %}
		</td>

	</tr>

	{% endfor %}


</table>
</div>

<div class="container">
<h2>Leakage</h2>
<table class="table table-striped">
	<tr>
		<th>Date Of Issue</th>
		<th>Flat No</th>
		<th>Description</th>
		<th>Images</th>

	</tr>
	{% for c in leakage_complaints %}
	<tr>
		<td>{{c.complaint_date }}</td>
		<td>{{c.flatno}}</td>
		<td>{{c.description}}</td>
		<td>
			{% if c.complain_img %}
			<img src="{{ c.complain_img.url }}" alt="No Image" style="width:50px;">
			{% else %}
			<span class="text-muted">No Image</span>
			{% endif %}
		</td>
	</tr>

	{% endfor %}

</table>

</div>
<div class="container">
<h2>Cleaning</h2>
<table class="table table-striped">
	<tr>
		<th>Date Of Issue</th>
		<th>Flat No</th>
		<th>Description</th>
		<th>Images</th>

	</tr>
	{% for c in cleaning_complaints %}
	<tr>
		<td>{{c.complaint_date }}</td>
		<td>{{c.flatno}}</td>
		<td>{{c.description}}</td>
		<td>
			{% if c.complain_img %}
			<img src="{{ c.complain_img.url }}" alt="No Image" style="width:50px;">
			{% else %}
			<span class="text-muted">No Image</span>
			{% endif %}
		</td>
	</tr>

	{% endfor %}

</table>
</div>
<div class="container">
<h2>Other</h2>
<table class="table table-striped">
	<tr>
		<th>Date Of Issue</th>
		<th>Flat No</th>
		<th>Description</th>
		<th>Images</th>

	</tr>
	{% for c in other_complaints %}
	<tr>
		<td>{{c.complaint_date }}</td>
		<td>{{c.flatno}}</td>
		<td>{{c.description}}</td>
		<td>
			{% if c.complain_img %}
			<img src="{{ c.complain_img.url }}" alt="No Image" style="width:50px;">
			{% else %}
			<span class="text-muted">No Image</span>
			{% endif %}
		</td>
	</tr>

	{% endfor %}

</table>
</div>

{% endblock %}