{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Commitee page {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/member_home.css' %}">
	 <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
</head>


<body style="margin:0px;background-color: #eee;">

<div class="pull-left" style="z-index: 200;position: absolute;margin-left: 10px;">
        <h4><font color="white" style="text-transform: uppercase;">Valentine Apts</font></h4>    
      </div>
  
  <header  style="background: rgba(0, 0, 0, 0.9);overflow:hidden;">
    
      <nav id="nav-menu-container"  style="margin-top:20px;">
        <ul class="nav-menu">
          
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'login' %}">Logout</a></li>
         
        </ul>
      </nav>
   
  </header> 

<div class="sidenav" style="padding-top:80px;">
	
	<a href="{% url 'commitee:complaint' %}">Complaint</a>
	<a href="{% url 'commitee:request' %}">Request</a>
	<a href="{% url 'commitee:cheque_details' %}">Cheque Details</a>
	<a href="{% url 'commitee:landl' %}">Leave & License</a>
	<a href="{% url 'commitee:announce' %}">Add Announcement</a>
	<a href="{% url 'commitee:visitors' %}"> Visitors list</a>
	<a href="{% url 'commitee:quotations' %}"> Quotation list</a>


</div>
<div id="content" name="content" class ="main">
	{% block content %}
	{% endblock %}
</div>
</body>
</html>