{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Commitee page {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/member_home.css' %}">
	 <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
       
</head>
<body>
	<header id="header" style="background: rgba(0, 0, 0, 0.9);height:72px;padding-top:5px;padding-bottom: 5px;">
    <div class="container-fluid">

      <div id="logo" class="pull-left" style="margin-top: 10px;">
        <h1><a href="#intro" class="scrollto" style="text-decoration: none;">Valentine Apts</a></h1>    
      </div>

      <nav id="nav-menu-container"  style="margin-top:20px;">
        <ul class="nav-menu">
          
          <li><a href="/home/test">Home</a></li>
         
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>
<div class="sidenav">
	
	<a href="{% url 'commitee:complaint' %}">Complaint</a>
	<a href="{% url 'commitee:request' %}">Request</a>
	<a href="{% url 'commitee:cheque_details' %}">Cheque Details</a>
	<a href="{% url 'commitee:landl' %}">Leave & License</a>
	<a href="{% url 'commitee:announce' %}">Add Announcement</a>


</div>
<div id="content" name="content" class ="main">
	{% block content %}
	{% endblock %}
</div>
</body>
</html>