{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} Commitee page {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/member_home.css' %}">
	 <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
       
</head>
<body style="margin:0px;">
	<header  style="background: rgba(0, 0, 0, 0.9);padding-left:160px;overflow:hidden;">
    

      <div id="logo" class="pull-left" style="margin-top: 10px;">
        <h1><a class="scrollto" style="text-decoration: none;margin-left: 20px;">Valentine Apts</a></h1>    
      </div>

      <nav id="nav-menu-container"  style="margin-top:20px;">
        <ul class="nav-menu">
          
          <li><a href="/home/test">Home</a></li>
         
        </ul>
      </nav><!--#nav-menu-container -->
   
  </header> 
<div class="sidenav">
	
	<a href="{% url 'commitee:complaint' %}">Complaint</a>
	<a href="{% url 'commitee:request' %}">Request</a>
	<a href="{% url 'commitee:cheque_details' %}">Cheque Details</a>
	<a href="{% url 'commitee:landl' %}">Leave & License</a>
	<a href="{% url 'commitee:announce' %}">Add Announcement</a>


</div>
<div id="content" name="content" class ="main">
	{% block content %}
	{% endblock %}
</div>
</body>
</html>