{% extends 'commitee/c_index.html' %}

	{% block content %}

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="jumbotron" style="padding-top:2%">
<form method="post" style="text-align: center;">
{% csrf_token %}
<input type="text" name="srh" placeholder="Enter Flat No.">
<button type="submit" class="btn btn-primary" style="border-radius: 25px;">Search</button>
{% if messages %}
		{% for k in messages %}
			{{ k }}
		{% endfor %}
	{% endif %}
</form>

</div>

<div class="container">
	<table class="table">
	{% if sr %}
		
	<tr class="danger">
		<th>Date of request</th>
	<th>Flat No</th>
	<th>Start Date</th>
	<th>End Date</th>
	<th>Agreement</th>
	<th>Police Verification Document</th>

	</tr>
	{% for k in sr %}
	<tr class="success">
		<td>{{k.landl_date }}</td>
		<td>{{k.flatno}}</td>
		<td>{{k.from_date}}</td>
		<td>
			{{k.to_date }}
		</td>
		<td><a href="{{k.agreement.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
	<td><a href="{{k.police_ver.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
	{% endfor %}
	{% endif %}
		
	</tr>
		</table>

	
</div>
<hr>

<div class="container">
<h2>Leave And License Request </h2>
<table class="table table-striped">
<tr>
	<th>Date of request</th>
	<th>Flat No</th>
	<th>Start Date</th>
	<th>End Date</th>
	<th>Agreement</th>
	<th>Police Verification Document</th>
</tr>
	{% for l in lls %}
<tr>
	<td>{{ l.landl_date }}</td>
	<td>{{ l.flatno }}</td>
	<td>{{ l.from_date }}</td>
	<td>{{ l.to_date }}</td>
	<td><a href="{{l.agreement.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
	<td><a href="{{l.police_ver.url}}" class="btn btn-primary btn-sm" target="_blank">Download</a></td>
</tr>
	{% endfor %}

</table>
</div>



	{% endblock %}